<pre>
    <%= JSON.stringify(item) %>
</pre>

<form method="post" action="/transactions/updateItem">
    <form method="post" action="transaction">
        <input type="text" name="description" placeholder="description" value=<%= item.description %>><br>
        <input  type="text" name="category" placeholder="category" value=<%= item.category %>><br>
        <input  type="text" name="amount" placeholder="amount" value=<%= item.amount %>> <br>
        <input  type="text" name="date" placeholder="mm/dd/yyyy" value=<%= item.date %>><br>        
        <input type="submit" value="store">
    </form>
    <br>
</form>